.background-questions-container{
    height: 100vh;
    width: 100vw;
    background-image: url('../../utils/backgroundImages/when-was-who-wants-to-be-a-millionaire-2020-filmed--1586798141153.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
}